@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins&display=swap");

:root {
    --color-principal: #fc7300;
    --color-secundario: #1f8a70;
    --color-terciario: #00425a;
    --color-texto: #181823;
    --color-background: #eff5f5;
}

* {
    margin: 0;
    min-width: auto;
}

body {
    width: 100vw;
}
h2,
h4,
h5 {
    font-family: "Belanosima", sans-serif;
    letter-spacing: 2px;
}

p {
    font-family: "Poppins", sans-serif;
}
/* header */

header {
    height: 600px;
    display: grid;
    grid-auto-rows: 150px minmax(200px, auto);
    align-items: center;
    justify-items: center;
    gap: 10px;
    background-image: url(/img/backgrounds/pizarron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header,
footer {
    background-color: var(--color-secundario);
    color: var(--color-background);
}

.header__logo {
    padding: 10px;
}

.header__logo img {
    border-radius: 10%;
    display: flex;
    align-items: center;
}

header h1 {
    position: relative;
    margin-top: -68px;
    margin-left: 90px;
    line-height: 35px;
}

header .header__logo span:first-child,
footer .footer-logo span:first-child {
    font-family: "Poppins", sans-serif;
    color: var(--color-texto);
    text-shadow: var(--color-background) 2px 2px;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

header .header__logo span:last-child,
footer .footer-logo span:last-child {
    position: relative;
    text-shadow: var(--color-texto) 3px 3px;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: italic;
    margin-left: 10px;
}

/* navbar */
.items {
    line-height: 35px;
}

.item {
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
}

.item-contacto {
    border: none;
    text-align: center;
    margin: 25px 0px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.item:hover {
    color: var(--color-secundario);
    font-size: 1.3rem;
    transition: all 0.5s;
    transform: scale(1.1);
}

.btn {
    background-color: var(--color-principal);
    color: white;
    padding: 15px;
    border-radius: 30px 5%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: var(--color-secundario);
    transition: all 0.5s;
    transform: scale(1.1);
}

/* a:hover {
    background-color: var(--color-secundario);
    text-decoration: overline underline;
    text-underline-offset: 8px;
} */

/*  main section */

main {
    display: grid;
    grid-template-areas:
        "contenido"
        "contenido"
        "contenido"
        "lateral";

    background-image: url(/img/backgrounds/biblioteca.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px;
}

.card-nosotros,
.card-motivos,
.card-propuesta {
    margin-bottom: 30px;
}

aside.cards .card {
    margin-bottom: 30px;
}

.card-nosotros {
    grid-area: contenido;
}
.card-motivos {
    grid-area: contenido;
}
.card-propuesta {
    grid-area: contenido;
}
aside {
    grid-area: lateral;
}

aside.cards h2#noticias {
    grid-area: lateral;
    margin-bottom: 30px;
}

.card-noticias {
    grid-area: lateral;
}

.card,
#noticias {
    outline: auto;
    outline-color: lightgrey;
    background-color: rgb(234, 233, 233);
}

h2 {
    text-align: center;
    padding: 12px;
}

.card-body {
    display: flex;
    flex-direction: column;
    outline: auto;
    outline-color: lightgray;
    background-color: white;
    padding: 20px;
}

.card-body h5.card-subtitle:first-of-type {
    padding-top: 0px;
}

.card-subtitle {
    text-align: left;
    font-size: 1.1rem;
    padding: 20px 0px;
}

.card-text {
    font-size: 0.9rem;
    text-align: justify;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    height: 40px;
}

/* footer */

.informacion {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    padding-top: 30px;
}

.info {
    width: 250px;
    display: grid;
    place-content: center;
    line-height: 30px;
    font-size: 1.2rem;
}

dt {
    font-size: 1.25rem;
    margin: 20px 0px;
    text-align: center;
}

dd {
    line-height: 2.5rem;
    text-align: center;
}

dd a:hover {
    color: var(--color-texto);
}

.footer-logo {
    display: grid;
    place-content: center;
    line-height: 100px;
}

#copyright {
    font: 200 14px "Belanosima", sans-serif;
    background-color: var(--color-background);
    color: var(--color-terciario);
    letter-spacing: 1px;
}

/* Diseño Responsive */

/* 
    TO DO: 
        # CARDS BUTTONS 
        # MEDIA QUERIES
*/

@media (min-width: 1200px) {
    main {
        grid-template-columns: auto 35%;
        grid-template-areas:
            "contenido lateral"
            "contenido lateral"
            "contenido lateral";
    }

    .card-nosotros,
    .card-motivos,
    .card-propuesta {
        margin-bottom: 30px;
        margin-right: 40px;
    }

    aside.cards .card {
        margin-bottom: 30px;
    }

    .card-nosotros {
        grid-area: contenido;
    }
    .card-motivos {
        grid-area: contenido;
    }
    .card-propuesta {
        grid-area: contenido;
    }
    aside {
        grid-area: lateral;
    }

    aside.cards h2#noticias {
        grid-area: lateral;
        margin-bottom: 30px;
    }

    card-noticias {
        grid-area: lateral;
    }

    /* ORDENAR 
    -----------------------------
    ITEMS ITEM ITEM ITEM SEARCHBAR
    
    LOGO                 CONTACTO
    -----------------------------
    */
}

@media (min-width: 1024px) {
    /*notebook*/

    li > i {
        visibility: hidden;
    }

    /* ORDENAR 
    -----------------------------
                LOGO      
    ITEMS ITEM ITEM ITEM CONTACTO
    -----------------------------
    */
}

@media (min-width: 768px) {
    /*Tablets*/
    nav li {
        display: inline;
    }

    .item-contacto {
        display: block;
    }

    /*  "ULTIMAS NOTICIAS" A COLUMNAS
    -------------------------------
            ULTIMAS NOTICIAS
        NOTI 1 | NOTI 2 | NOTI 3
    -------------------------------
    */
}

@media (min-width: 600px) {
    .informacion {
        display: flex;
        justify-content: space-evenly;
    }

    header {
        height: auto;
    }
}
